<!DOCTYPE html>
<html>
<style>
form {
    border: 3px solid #f1f1f1;
}
h1 {
        color: #4CAF50;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.container {
    padding: 16px;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>Add NEW OutPatient</title>
</head>
<body>
<center><h1>Add NEW Outpatient Details</h1></center>
<form action = "http://localhost:5000/dbaddnewoutpat" method = "POST">
<div class="container">
				<label><b>Patient ID:<input type="text" placeholder="Enter Patient ID" name="patid" required>
				<label><b>Patient Name:<input type="text" placeholder="Enter Patient Name" name="patname" required>
				<label><b>Date of Birth:<input type="text" placeholder="Enter Date of Birth[dd/mm/yyyy]" name="dofb" required>
				<label><b>Sex:<input type="text" placeholder="Enter Sex" name="se" required>
				<label><b>Address:<input type="text" placeholder="Enter Address" name="addr" required>
				<label><b>Contact Number:<input type="text" placeholder="Enter Contact Number" name="contno" required>
				<label><b>Patient Type:<input type="text" placeholder="Enter Patient Type [IP/OP]" name="pattype" required>
				<label><b>Token ID:<input type="text" placeholder="Enter Token ID" name="tkid" required>
				<label><b>Doctor ID:<input type="text" placeholder="Enter Doctor ID" name="docid" required>
				<label><b>Date of Appointment:<input type="text" placeholder="Enter Date of Appointment[dd/mm/yyyy]" name="dofa" required>
				<label><b>Remarks:<input type="text" placeholder="Enter Remarks" name="rem" required>
				<button type="submit">SUBMIT</button>
</div>				
</form>
</body>
</html>