<!DOCTYPE html>
<html>
<style>
form {
    border: 3px solid #f1f1f1;
}
h1 {
        color: #4CAF50;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.container {
    padding: 16px;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>Display the doctor details</title>
</head>
<body>
<center><h1>Display the doctor details</h1></center>
<form action = "http://localhost:5000/dbdispdocspec" method = "POST">
<div class="container">
				<label><b>Enter the Doctor Specialization:</b></label><input type="text" placeholder="Enter Doctor Specialization" name="docspec" required>
				<button type="submit">SUBMIT</button>
</div>				
</form>
</body>
</html>